<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>User Profile</h1>
    <form method="POST">
        {%csrf_token%}
        <p>Username:{{profile.user.username}}</p>
        <p>Department:{{profile.department}}</p>
        <input type="text" name="address" value="{{profile.address}}"><br>
        <input type="text" name="salary" value="{{profile.salary}}"><br>
        <input type="submit" value="Change">
    </form>
    {%for i in orders%}
        <div>
            {{i.product.name}}
        </div>
    {%endfor%}
</body>
</html>